.git
.bashrc
.rpmdb
venv
venv2
venv3
*.pyc
.DS_store
.idea
*.stc
*.fif
network/weights
install_scripts/cuda
.cache/
install_scripts/add_to_bash_profile
simulation_model/config.ini
*.jpg
*.png
*.gz
network_tests/*.txt
network_tests/*.csv
stored
config.py

